@import "../main/normalize.css";
:root {
  font-size: 10px;
}

.main {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

h3 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

h4 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 125%;
  letter-spacing: 0.06em;
  color: #545454;
}

h5 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.header {
  width: 100%;
  position: fixed;
  padding: 31px 0 0 0;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
}
.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 0.28em;
  color: #545454;
}
.header__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin-left: 0.3em;
  color: #292929;
}
.header nav {
  width: 442.7px;
  padding-top: 14px;
}
.header__burger {
  width: 30px;
  height: 30px;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3px;
  right: 51px;
  top: 42px;
  background-color: transparent;
  transition: 0.5s;
}
.header__burger span {
  background-color: #000000;
  height: 2px;
  width: 31px;
  border-radius: 100px;
}
.header__burger span:nth-child(2) {
  margin: 8px 0;
}
.header .burger-toggle {
  animation: X-burger 0.5s;
  animation-fill-mode: forwards;
}
.header .burger-toggle-reverse {
  animation: X-burger 0.5s;
  animation-direction: reverse;
}
.header__ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__ul a {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
}
.header__ul a:hover {
  color: #292929;
  cursor: url(../../assets/icons/cursor/Union-hover-light.png), pointer;
}

.action {
  border-bottom: 3px solid #F1CDB3;
}
.action a {
  color: #292929;
}

.pets {
  padding: 81px 0 0 0;
  margin-top: 120px;
  background: #F6F6F6;
}
.pets__wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.pets__title {
  text-align: center;
}
.pets__card-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  row-gap: 29px;
  column-gap: 40px;
  margin-top: 59px;
}
.pets__navigation {
  width: 34rem;
  padding: 60px 0 100px 0;
  display: flex;
  justify-content: space-between;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
}
.pets__navigation button {
  font-size: 2rem;
}
.pets__left-arrow {
  border: 2px solid #CDCDCD;
  background: #F6F6F6;
  color: #CDCDCD;
  border-radius: 100px;
  padding: 12px 12px;
  cursor: url(../../assets/icons/cursor/Union-hover-black.png), pointer;
}
.pets__left-arrow--bigger {
  border: 2px solid #CDCDCD;
  background: #F6F6F6;
  color: #CDCDCD;
  border-radius: 100px;
  padding: 13px 18px;
  cursor: url(../../assets/icons/cursor/Union-hover-black.png), pointer;
}
.pets__navigation-number {
  background: #F1CDB3;
  border-radius: 100px;
  padding: 14px 21px;
}
.pets__right-arrow {
  border: 2px solid #F1CDB3;
  background: #F6F6F6;
  color: #000000;
  border-radius: 100px;
  padding: 12px 12px;
  cursor: url(../../assets/icons/cursor/Union-hover-black.png), pointer;
}
.pets__right-arrow--bigger {
  border: 2px solid #F1CDB3;
  background: #F6F6F6;
  color: #000000;
  border-radius: 100px;
  padding: 13px 18px;
  cursor: url(../../assets/icons/cursor/Union-hover-black.png), pointer;
}

.btn-change:hover {
  border-color: #FDDCC4;
  background: #FDDCC4;
}

.card {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  border-radius: 9px;
  transition: 0.5s;
}
.card:hover {
  cursor: url(../../assets/icons/cursor/Union-hover-black.png), pointer;
  background: #FFFFFF;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.card__img {
  width: 100%;
}
.card__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card__name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 2.3rem;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.card__button {
  padding: 1.3rem 4.22rem;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background: #FAFAFA;
  margin-bottom: 1.8em;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.card__button:hover {
  cursor: url(../../assets/icons/cursor/Union-hover-black.png), pointer;
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
}

.footer {
  padding: 38px 0 0 0;
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer a:hover {
  cursor: url(../../assets/icons/cursor/Union-hover-black.png), pointer;
}
.footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.footer__content-wrapper {
  width: 61.6%;
  display: flex;
  justify-content: space-between;
  padding: 1.9rem 0 0 0;
}
.footer__contact {
  width: 30rem;
  display: flex;
  flex-flow: column nowrap;
}
.footer__contact h3 {
  margin-bottom: 4.4rem;
}
.footer__map {
  width: 30rem;
  display: flex;
  flex-flow: column nowrap;
}
.footer__map h3 {
  margin-bottom: 3.3rem;
}
.footer__title {
  color: #FFFFFF;
}
.footer__email {
  position: relative;
  padding: 0 0 0 6rem;
  margin-bottom: 4.9rem;
}
.footer__email::before {
  position: absolute;
  content: url(../../assets/icons/mail.png);
  top: -0.2rem;
  left: 0;
}
.footer__number {
  position: relative;
  padding: 0 0 0 6rem;
}
.footer__number::before {
  position: absolute;
  content: url(../../assets/icons/phone.png);
  top: -0.5rem;
  left: 0;
}
.footer__place-one {
  position: relative;
  padding: 0 0 0 4.1rem;
  margin-bottom: 3.7rem;
}
.footer__place-one::before {
  position: absolute;
  content: url(../../assets/icons/pin.png);
  top: 0.55rem;
  left: -0.1rem;
}
.footer__place-two {
  position: relative;
  padding: 0 0 0 4.1rem;
}
.footer__place-two::before {
  position: absolute;
  content: url(../../assets/icons/pin.png);
  top: -0.5rem;
  left: -0.1rem;
}
.footer__img-wrapper {
  width: 30rem;
  height: 100%;
}
.footer__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.footer__text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

@media (max-width: 1228px) {
  .pets__card-wrapper article:nth-last-child(1) {
    display: none;
  }
  .pets__card-wrapper article:nth-last-child(2) {
    display: none;
  }

  .start-screen__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .start-screen__content {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .start-screen__content h2 {
    margin: 0;
    width: 100%;
  }

  .footer__wrapper {
    flex-direction: column;
  }

  .footer__content-wrapper {
    width: 100%;
    justify-content: space-evenly;
    padding: 20px 0 63.5px 0;
  }

  .footer__img-wrapper {
    align-self: center;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 30.5px;
  }

  .pets {
    padding: 72px 0 0 0;
  }
  .pets__card-wrapper {
    column-gap: 39px;
    margin-top: 39px;
    justify-content: center;
  }
  .pets__card-wrapper article:nth-last-child(1) {
    display: none;
  }
  .pets__card-wrapper article:nth-last-child(2) {
    display: none;
  }
  .pets__navigation {
    padding: 37px 0 79px 0;
  }

  .footer {
    margin-top: 0;
    padding: 11px 0 0 0;
  }
  .footer__content-wrapper {
    padding: 20px 0 63.5px 0;
  }
}
@media (max-width: 690px) {
  .container {
    padding: 0 10px;
  }

  h3 {
    font-size: 25px;
  }

  .header__wrapper nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 123px;
    right: 0;
    transform: translate(100%);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.63);
  }
  .header__wrapper nav.active {
    transform: translate(0);
  }
  .header__burger {
    display: flex;
  }
  .header__burger span {
    transform: rotate(0);
    transition: 0.5s;
  }
  .header__burger span.active {
    transform: rotate(-45deg);
  }
  .header__ul {
    width: auto;
    margin-top: 137px;
    flex-direction: column;
    align-items: center;
  }
  .header__ul li {
    padding: 10px 0;
  }
  .header__ul li > a {
    font-size: 37px;
    letter-spacing: -0.5em;
    opacity: 0;
    color: #fff;
    transition: 1s;
  }
  .header__ul li > a.active {
    letter-spacing: 0.06em;
    opacity: 1;
  }
  .header__ul li > a:hover {
    color: #f1cdb3;
  }

  .pets {
    padding: 40px 0 0 0;
  }
  .pets__wrapper h3:nth-child(2) {
    margin: 0 0 10px 0;
  }
  .pets__card-wrapper {
    row-gap: 29.5px;
  }
  .pets__card-wrapper article:nth-child(2) {
    display: none;
  }
  .pets__card-wrapper article:nth-last-child(1) {
    display: none;
  }
  .pets__card-wrapper article:nth-last-child(2) {
    display: none;
  }
  .pets__card-wrapper article:nth-last-child(3) {
    display: none;
  }
  .pets__card-wrapper article:nth-last-child(5) {
    display: none;
  }
  .pets__navigation {
    width: 300px;
    padding: 28px 0 31.7px 0;
  }

  .footer__content-wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .footer__contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 45px;
  }
  .footer__contact a {
    width: 278px;
  }
  .footer h3 {
    text-align: center;
    font-size: 35px;
  }
}