@import "normalize.css";

$color-dark-l: #545454;
$color-dark-3xl: #292929;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;

$color-light-s: #FAFAFA;
$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

:root {
    font-size: 10px;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header {

        .wrapper {
            position: relative;
        }
        &__container {
            position: absolute;
            top: 61px;

            width: 100%;

            display: flex;
            justify-content: space-between;
            
        }

        &__title {
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 3.2rem;
                line-height: 110%;

                letter-spacing: 0.06em;

                margin-bottom: 0.280em;
                color: $color-primary;
            }
        

        &__subtitle {
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 1.3rem;
            line-height: 1.5rem;

            letter-spacing: 0.1em;

            margin-left: 0.3em;
            color: $color-light-xl;
        }

        &__ul {
            width: 36.9%;

            display: flex;
            align-items: center;
            justify-content: space-between;

            padding-bottom: 0.2em;
            a {
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 1.5rem;
                line-height: 160%;

                color: $color-dark-s;
            }
        }
}
.action {
    border-bottom: 3px solid $color-primary;
    a {
        color: #fff;
    }
}

.main {
    display: flex;
    flex-direction: column;
}
.start-screen {
    background: url(../../assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

        &__container {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 18rem;
        }

		&__content {
            width: 46rem;
            height: 45rem;
        }

		&__title {
            width: 80%;

            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 4.4rem;
            line-height: 130%;

            margin-top: 0.550em;
            color: $color-light-xl;
        }

		&__subtitle {
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 1.5rem;
            line-height: 160%;

            margin-top: 2.80em;
            color: $color-dark-s;
        }

		&__button {
            padding: 1.5rem 4.5rem;
            border-radius: 100px;

            background: $color-primary;

            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 1.7rem;
            line-height: 130%;

            letter-spacing: 0.06em;
            
            margin-top: 2.38em;
            color: $color-dark-3xl;
        }

		&__img-container {

        }
}