@import "normalize.css";
:root {
  font-size: 10px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header .wrapper {
  position: relative;
}
.header__container {
  position: absolute;
  top: 61px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 0.28em;
  color: #F1CDB3;
}
.header__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  margin-left: 0.3em;
  color: #FFFFFF;
}
.header__ul {
  width: 36.9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.2em;
}
.header__ul a {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
}

.action {
  border-bottom: 3px solid #F1CDB3;
}
.action a {
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
}

.start-screen {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.start-screen__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18rem;
}
.start-screen__content {
  width: 46rem;
  height: 45rem;
}
.start-screen__title {
  width: 80%;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 130%;
  margin-top: 0.55em;
  color: #FFFFFF;
}
.start-screen__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  margin-top: 2.8em;
  color: #CDCDCD;
}
.start-screen__button {
  padding: 1.5rem 4.5rem;
  border-radius: 100px;
  background: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-top: 2.38em;
  color: #292929;
}