@import "normalize.css";
:root {
  font-size: 10px;
}

.action {
  border-bottom: 3px solid #F1CDB3;
}
.action a {
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

h3 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

h4 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 125%;
  letter-spacing: 0.06em;
  color: #545454;
}

h5 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.header .container {
  position: relative;
}
.header__wrapper {
  position: absolute;
  top: 61px;
  width: 97.5%;
  display: flex;
  justify-content: space-between;
}
.header__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 0.28em;
  color: #F1CDB3;
}
.header__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  margin-left: 0.3em;
  color: #FFFFFF;
}
.header nav {
  width: 36.9%;
  padding-top: 1.07em;
}
.header__ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__ul a {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
}

.start-screen {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 18rem;
}
.start-screen__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.start-screen__content {
  padding-bottom: 8rem;
  width: 39%;
}
.start-screen__title {
  width: 80%;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 130%;
  margin-bottom: 41px;
  color: #FFFFFF;
}
.start-screen__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  margin-bottom: 41px;
  color: #CDCDCD;
}
.start-screen__button {
  padding: 1.5rem 4.5rem;
  border-radius: 100px;
  background: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.about {
  padding-top: 8rem;
  padding-bottom: 10rem;
}
.about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10.08%;
}
.about__content {
  width: 36%;
}
.about__title {
  padding-right: 5%;
  padding-bottom: 2.4rem;
}
.about__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
}
.about__subtitle-one {
  padding-bottom: 2.5rem;
}
.our-friends {
  background: #F6F6F6;
  padding-top: 8.1rem;
}
.our-friends__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.our-friends__title1 {
  text-align: center;
}
.our-friends__slider-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4.2em;
}
.our-friends__slider-container .card:nth-child(3) {
  margin: 0 6.4em 0 6.45em;
}
.our-friends__arrow {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1.58em 1.28em;
  background: #F6F6F6;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}
.our-friends__arrow-left {
  margin-right: 4em;
}
.our-friends__arrow-right {
  margin-left: 4em;
}
.our-friends__button {
  padding: 0.9em 2.6em;
  margin: 3.48em 0 5.87em 0;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  border-radius: 9px;
}
.card__img {
  width: 100%;
}
.card__img img {
  object-fit: cover;
  width: 27rem;
  height: 27rem;
}
.card__name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.card__button {
  padding: 1.3rem 4.22rem;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background: #FAFAFA;
  margin-bottom: 1.8em;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.help__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}
.help__title {
  width: 30%;
  text-align: center;
  margin-top: 8.1rem;
}
.help__how {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 5.6rem;
  margin-top: 6rem;
}
.help__how figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 5.97rem;
}
.help__how div {
  display: flex;
  justify-content: center;
  margin-bottom: 2.08em;
}
.help__how #bowl {
  padding-top: 0.1rem;
}
.help__how #vita {
  padding-top: 0.2rem;
}
.help__how #coll {
  padding-top: 0.3rem;
}
.help__how figcaption {
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.in-addition {
  padding-top: 8.8rem;
  background: #F6F6F6;
}
.in-addition__wrapper {
  display: flex;
  justify-content: center;
  column-gap: 0.68em;
}
.in-addition__img-wrapper {
  width: 42.1%;
}
.in-addition__img {
  object-fit: contain;
  width: 100%;
  height: 95.5%;
}
.in-addition__content {
  width: 30%;
  margin: 0.42em 1.5em;
}
.in-addition__title {
  width: 89%;
  margin-top: -0.34em;
}
.in-addition__subtitle {
  padding: 1.3em 0;
}
.in-addition__card-bank-wrapper {
  width: 96.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.68em 1em;
  margin-bottom: 1.5em;
  background: #F1CDB3;
  border-radius: 9px;
}
.in-addition__info-text {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 150%;
  color: #B2B2B2;
}

@media (max-width: 1024px) {
  .start-screen__wrapper {
    flex-direction: column;
    align-items: center;
  }
}