@import "normalize.css";
:root {
  font-size: 10px;
}

.main {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

h3 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

h4 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 125%;
  letter-spacing: 0.06em;
  color: #545454;
}

h5 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.header .container {
  position: relative;
}
.header__wrapper {
  position: absolute;
  top: 6.1rem;
  width: 97.5%;
  display: flex;
  justify-content: space-between;
}
.header__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 0.28em;
  color: #F1CDB3;
}
.header__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  margin-left: 0.3em;
  color: #FFFFFF;
}
.header__nav {
  width: 442px;
  padding-top: 1.07em;
}
.header__ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__ul a {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
}
.header__ul a:hover {
  color: #FFFFFF;
  cursor: url(../../assets/icons/cursor/Union-hover-light.png), pointer;
}
.header__burger {
  width: 30px;
  height: 30px;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3px;
  right: 38px;
  top: 12px;
  background-color: transparent;
  transition: 0.5s;
}
.header__burger span {
  background-color: #F1CDB3;
  height: 2px;
  width: 31px;
  border-radius: 100px;
}
.header__burger span:nth-child(2) {
  margin: 8px 0;
}

.action {
  border-bottom: 3px solid #F1CDB3;
}
.action a {
  color: #FFFFFF;
}

.start-screen {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 18rem;
}
.start-screen__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.start-screen__content {
  padding-bottom: 80px;
  width: 460px;
}
.start-screen__title {
  width: 80%;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 130%;
  margin-bottom: 4.1rem;
  color: #FFFFFF;
}
.start-screen__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  margin-bottom: 4.1rem;
  color: #CDCDCD;
}
.start-screen__button {
  padding: 1.5rem 4.5rem;
  border-radius: 100px;
  background: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.start-screen__button:hover {
  background-color: #FDDCC4;
  cursor: url(../../assets/icons/cursor/Union-hover-light.png), pointer;
}

.about {
  padding-top: 8rem;
  padding-bottom: 10rem;
}
.about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10.08%;
}
.about__content {
  width: 36%;
}
.about__title {
  padding-right: 5%;
  padding-bottom: 2.4rem;
}
.about__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
}
.about__subtitle-one {
  padding-bottom: 2.5rem;
}
.our-friends {
  background: #F6F6F6;
  padding-top: 8.1rem;
}
.our-friends__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.our-friends__title1 {
  text-align: center;
}
.our-friends__slider-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4.2em;
}
.our-friends__slider {
  display: flex;
  flex-flow: row wrap;
  column-gap: 90px;
}
.our-friends__arrow {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1.58em 1.28em;
  background: #F6F6F6;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}
.our-friends__arrow:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
  cursor: url(../../assets/icons/cursor/Union-hover-black.png), pointer;
}
.our-friends__button {
  padding: 0.9em 2.6em;
  margin: 3.48em 0 5.87em 0;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.our-friends__button:hover {
  background: #FDDCC4;
  cursor: url(../../assets/icons/cursor/Union-hover-black.png), pointer;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  border-radius: 9px;
  transition: 0.5s;
}
.card:hover {
  cursor: url(../../assets/icons/cursor/Union-hover-black.png), pointer;
  background: #FFFFFF;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.card__img {
  width: 100%;
}
.card__img img {
  object-fit: cover;
  width: 27rem;
  height: 27rem;
}
.card__name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.card__button {
  padding: 1.3rem 4.22rem;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background: #FAFAFA;
  margin-bottom: 1.8em;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.card__button:hover {
  cursor: url(../../assets/icons/cursor/Union-hover-black.png), pointer;
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
}

.help__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}
.help__title {
  width: 30%;
  text-align: center;
  margin-top: 8.1rem;
}
.help__how {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 5.6rem;
  margin-top: 6rem;
}
.help__how figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 5.97rem;
}
.help__how div {
  display: flex;
  justify-content: center;
  margin-bottom: 2.08em;
}
.help__how #bowl {
  padding-top: 0.1rem;
}
.help__how #vita {
  padding-top: 0.2rem;
}
.help__how #coll {
  padding-top: 0.3rem;
}
.help__how figcaption {
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.in-addition {
  padding: 8.8rem 0 9.4rem 0;
  background: #F6F6F6;
}
.in-addition__wrapper {
  display: flex;
  justify-content: center;
  column-gap: 0.68em;
}
.in-addition__img-wrapper {
  width: 42.1%;
}
.in-addition__img {
  object-fit: contain;
  width: 100%;
  height: 95.5%;
}
.in-addition__content {
  width: 30%;
  margin: 0.42em 1.46em;
}
.in-addition__title {
  width: 89%;
  margin-top: -0.34em;
}
.in-addition__subtitle {
  padding: 1.3em 0;
}
.in-addition__card-bank-wrapper {
  width: 96.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.68em 1em;
  margin-bottom: 1.5em;
  background: #F1CDB3;
  border-radius: 9px;
}
.in-addition__card-bank-wrapper:hover {
  cursor: url(../../assets/icons/cursor/Union-hover-light.png), pointer;
  background: #FDDCC4;
}
.in-addition__info-text {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 150%;
  color: #B2B2B2;
}

.footer {
  padding: 3.8rem 0 0 0;
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer a:hover {
  cursor: url(../../assets/icons/cursor/Union-hover-black.png), pointer;
}
.footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.footer__content-wrapper {
  width: 61.6%;
  display: flex;
  justify-content: space-between;
  padding: 1.9rem 0 0 0;
}
.footer__contact {
  width: 30rem;
  display: flex;
  flex-flow: column nowrap;
}
.footer__contact h3 {
  margin-bottom: 4.4rem;
}
.footer__map {
  width: 30rem;
  display: flex;
  flex-flow: column nowrap;
}
.footer__map h3 {
  margin-bottom: 3.3rem;
}
.footer__title {
  color: #FFFFFF;
}
.footer__email {
  position: relative;
  padding: 0 0 0 6rem;
  margin-bottom: 4.9rem;
}
.footer__email::before {
  position: absolute;
  content: url(../../assets/icons/mail.png);
  top: -0.2rem;
  left: 0;
}
.footer__number {
  position: relative;
  padding: 0 0 0 6rem;
}
.footer__number::before {
  position: absolute;
  content: url(../../assets/icons/phone.png);
  top: -0.5rem;
  left: 0;
}
.footer__place-one {
  position: relative;
  padding: 0 0 0 4.1rem;
  margin-bottom: 3.7rem;
}
.footer__place-one::before {
  position: absolute;
  content: url(../../assets/icons/pin.png);
  top: 0.55rem;
  left: -0.1rem;
}
.footer__place-two {
  position: relative;
  padding: 0 0 0 4.1rem;
}
.footer__place-two::before {
  position: absolute;
  content: url(../../assets/icons/pin.png);
  top: -0.5rem;
  left: -0.1rem;
}
.footer__img-wrapper {
  width: 30rem;
  height: 100%;
}
.footer__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.footer__text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

@media (max-width: 1228px) {
  .start-screen__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .start-screen__content {
    margin: 0;
    padding: 0;
  }
  .start-screen__content h2 {
    margin: 0;
    width: 100%;
  }

  .footer__wrapper {
    flex-direction: column;
  }

  .footer__content-wrapper {
    width: 100%;
    justify-content: space-evenly;
  }

  .footer__img-wrapper {
    align-self: center;
  }
}
@media (max-width: 1126px) {
  .container {
    padding: 0 30px;
  }

  .header__wrapper {
    width: 92.1%;
    top: 31px;
    position: absolute;
    display: flex;
    justify-content: space-between;
  }

  .start-screen {
    padding-top: 151px;
  }
  .start-screen__content {
    margin: 0 0 99px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .start-screen__content h2 {
    width: 310px;
    padding-bottom: 42px;
  }
  .start-screen__button {
    margin: 0 126px;
  }
  .start-screen__img-container {
    width: 570px;
    align-self: flex-end;
  }
  .start-screen__img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .about {
    padding-top: 81px;
  }
  .about__content {
    width: 436px;
  }
  .about__wrapper {
    flex-direction: column;
    column-gap: 0;
  }
  .about__title {
    padding-right: 25px;
  }
  .about__img-container {
    order: 2;
    margin-top: 80px;
  }

  .our-friends__slider {
    column-gap: 40px;
  }
  .our-friends__slider article:nth-child(3) {
    display: none;
  }
  .our-friends__button {
    margin: 59px 0 5.87em 0;
  }

  .help__title {
    width: 50%;
  }
  .help__how {
    width: 100%;
    display: grid;
    row-gap: 56px;
    grid-template-columns: 1fr 0.85fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 60px;
  }
  .help__how figure:nth-child(2) div {
    width: 90%;
  }
  .help__how figure {
    margin: 0;
  }

  .in-addition {
    padding: 80px 0 100px 0;
  }
  .in-addition__wrapper {
    align-items: center;
    flex-direction: column;
  }
  .in-addition__img-wrapper {
    width: 71.5%;
    order: 2;
  }
  .in-addition__content {
    width: 382px;
    margin: 0 0 58px 2px;
  }
  .in-addition__title {
    width: 83%;
    margin: 0;
  }
  .in-addition__subtitle {
    padding: 20px 0 20px 0;
  }
  .in-addition__card-bank-wrapper {
    width: 91.3%;
    padding: 0.67em 1em;
  }

  .footer {
    padding: 31px 0 0 0;
  }
  .footer__wrapper {
    align-items: center;
  }
  .footer__content-wrapper {
    width: 90.2%;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 67px;
  }
}
@media (max-width: 690px) {
  .container {
    padding: 0 10px;
  }

  .header__wrapper {
    position: fixed;
  }
  .header__wrapper nav.active {
    right: 0;
    transform: translate(0);
  }
  .header__nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 123px;
    right: -100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.63);
  }
  .header__burger {
    display: flex;
  }
  .header__burger span {
    transform: rotate(0);
    transition: 0.5s;
  }
  .header__burger span.active {
    transform: rotate(-45deg);
  }

  .start-screen__content {
    margin: 0 0 105px 0;
    width: 307px;
  }
  .start-screen__content h2 {
    width: 306px;
  }
  .start-screen__title {
    text-align: center;
    font-size: 27px;
    letter-spacing: 0.5px;
    line-height: 119%;
  }
  .start-screen__subtitle {
    text-align: center;
    width: 306px;
  }
  .start-screen__button {
    margin: 0 49px;
  }
  .start-screen__img-container {
    width: 260px;
  }

  .about {
    padding: 43px 0 40px 0;
  }
  .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 318px;
  }
  .about__title {
    text-align: center;
    padding: 0 0 25px 0;
    font-size: 27px;
    width: 318px;
    letter-spacing: 0.84px;
    line-height: 122%;
  }
  .about__subtitle-one {
    text-align: justify;
    width: 270px;
    padding-bottom: 22px;
  }
  .about__subtitle {
    text-align: justify;
    width: 270px;
  }
  .about__img-container {
    width: 260px;
    margin-top: 41px;
  }
  .about__img-container img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}
.our-friends {
  padding: 44px 0 0 0;
}
.our-friends__title {
  font-size: 25px;
}
.our-friends__title1 {
  font-size: 25px;
}
.our-friends__slider-container {
  flex-flow: row wrap;
  padding: 42px 0 0 0;
  justify-content: center;
  column-gap: 80px;
}
.our-friends__slider {
  order: 1;
  width: 100%;
  justify-content: center;
}
.our-friends__slider article:nth-child(2) {
  display: none;
}
.our-friends__slider article {
  margin-bottom: 20px;
}
.our-friends__arrow-left {
  order: 2;
}
.our-friends__arrow-right {
  order: 3;
}
.our-friends__button {
  margin: 41px 0 41px 0;
}

.help__wrapper {
  margin-bottom: 41px;
}
.help__title {
  width: 85%;
  margin-top: 42px;
  font-size: 25px;
}
.help__how {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 21px;
  row-gap: 30px;
  margin-top: 44px;
}
.help__how figure {
  align-items: center;
}
.help__how figure div {
  width: 50px;
  margin: 0 0 13px 0;
}
.help__how figure div img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.help__how figure figcaption {
  font-size: 15px;
}
.help__how figure:nth-child(1) div {
  width: 39px;
}
.help__how figure:nth-child(2) div {
  width: 50px;
}
.help__how figure:nth-child(5) div {
  width: 30px;
}
.help__how figure:nth-child(7) div {
  margin: 0 0 22px 0;
}
.help__how figure:nth-child(9) div {
  margin: 0 0 17px 0;
}

.in-addition {
  padding: 43px 0;
}
.in-addition__content {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40.5px 0;
}
.in-addition__content h3 {
  text-align: center;
  font-size: 25px;
}
.in-addition__img-wrapper {
  width: 87.5%;
}
.in-addition__title {
  width: 320px;
}
.in-addition__subtitle {
  font-size: 14px;
  padding: 25px 0;
  letter-spacing: 0.5px;
}
.in-addition__card-bank-wrapper {
  width: 279.5px;
}
.in-addition__card-number {
  font-size: 15px;
}
.in-addition__info-text {
  text-align: justify;
  width: 280px;
}

.footer__content-wrapper {
  width: 100%;
  flex-direction: column;
  row-gap: 44px;
  margin-bottom: 94px;
}
.footer__content-wrapper div {
  align-items: center;
}
.footer__content-wrapper div h3 {
  text-align: center;
}
.footer__content-wrapper div a {
  width: 280px;
}
.footer__content-wrapper div:nth-child(2) a {
  width: 299px;
}
.footer__img-wrapper {
  width: 260px;
}